.header {
  margin: 45px 0 40px;
  border-bottom: 1px solid;
  border-color: rgba(84, 84, 84, 0.7);
  padding: 0 200px;
}

.header__image {
  max-width: 173px;
  margin-bottom: 41px;
}

@media screen and (max-width: 480px) {
  .header {
    max-width: 320px;
    display: flex;
    justify-content: flex-end;
  }

  .header__image {
    width: 126px;
    margin: 28px 27px 32px;
  }
}
