.header {
  border-bottom: 1px solid;
  border-color: rgba(84, 84, 84, 0.7);
  padding: 45px 0 41px;
}

.header__image {
  max-width: 173px;
}

@media screen and (max-width: 600px) {
  .header{
    margin: 0;
    padding: 28px 0 32px;
  }

  .header__image{
    margin-left: 27px;
    max-width: 126px;
  }
}
