.modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, .5);
    color: #000;
    display: none;
}

.modal_opened{
    display: flex;
}

.modal__container{
    background-color: #fff;
    margin: auto;
    padding: 36px;
    border-radius: 10px;
    position: relative;
    width: 430px;
    height: 330px;
}

.modal__close{
background-image: url(../images/Close\ Icon.svg);
min-height: 40px;
min-width: 40px;
border: none;
background-color: transparent;
background-repeat: no-repeat;
background-size: contain;
position: absolute;
bottom: calc(100% + 5px);
left: calc(100% + 5px);
}

.modal__heading{
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
}

.modal__form{
    margin: 0;
}

.modal__input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px;
}

.modal__button{
    width: 238px;
    height: 46px;
    background-color: #000;
    color: #fff;
}

@media screen and (max-width: 600px) {
    .modal__container{
        width: 282px;
        height: 322px;
    }
}