.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  color: #000;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.6s, visibility 0s 0.6s;
  pointer-events: none;
  display: flex;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.6s;
  pointer-events: all;
}

.modal__container {
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  position: relative;
  width: 430px;
  height: 330px;
}

.modal__close {
  background-image: url(../images/Close\ Icon.svg);
  min-height: 40px;
  min-width: 40px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__heading {
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  margin: 36px 36px 54px;
}

.modal__form {
  margin: 0 36px 36px;
}

.modal__label {
  position: relative;
  display: block;
}

.modal__input {
  border-bottom: 1px solid #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  min-width: 358px;
  min-height: 28px;
  margin-bottom: 30px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.modal__input_type_error {
  border-bottom: 1px solid #ff0000;
}

.modal__button {
  min-width: 358px;
  min-height: 51px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.5s linear;
  margin-top: 18px;
}

.modal__button_disabled {
  opacity: 0.2;
}

.modal__button:hover {
  opacity: 0.6;
}

.modal__image-container {
  margin: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}

.modal__image {
  margin: auto;
  width: 75vw;
  height: 75vh;
}

.modal__title {
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  line-height: 15px;
}
.modal__error {
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  opacity: 0;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  transition: opacity 0.3s;
  visibility: hidden;
}

.modal__error_visible {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .modal__container {
    width: 282px;
    height: 322px;
    margin: 123px 19px;
  }
  .modal__close {
    left: 90%;
    bottom: 0;
    top: -40px;
    min-width: 26px;
    min-height: 26px;
  }

  .modal__heading {
    font-size: 18px;
    line-height: 22px;
    margin: 25px 22px 75px;
  }

  .modal__form {
    margin: 0 22px 25px;
  }

  .modal__input {
    min-width: 238px;
    min-height: 27px;
  }

  .modal__button {
    min-width: 238px;
    min-height: 46px;
  }

  .modal__image-container {
    min-width: 240px;
    min-height: 299px;
  }
}

