.modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, .5);
    color: #000;
    display: none;
}

.modal_opened{
    display: flex;
}

.modal__container{
    background-color: #fff;
    margin: auto;
    padding: 36px;
    border-radius: 10px;
    position: relative;
    width: 430px;
    height: 330px;
}

.modal__close{
background-image: url(../images/Close\ Icon.svg);
min-height: 40px;
min-width: 40px;
border: none;
background-color: transparent;
background-repeat: no-repeat;
background-size: contain;
position: absolute;
bottom: calc(100% + 5px);
left: calc(100% + 5px);
cursor: pointer;
transition: opacity 0.5s linear;
}

.modal__close:hover{
    opacity: 0.6;
}

.modal__heading{
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
}

.modal__form{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.modal__input{
    border-bottom: 1px solid #000;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    min-width: 358px;
    min-height: 28px;
}

.modal__button{
    min-width: 358px;
    min-height: 51px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: opacity 0.5s linear;
}

.modal__button:hover{
    opacity: 0.6;
}

@media screen and (max-width: 600px) {
    .modal__container{
        width: 282px;
        height: 322px;
        padding: 0;
    }
}