.page{
    background-color: #000;
    color: #fff;
    font-family: "Inter", Arial, serif;
}

.page__content{
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page__section{
    max-width: 880px;
    width: 100%;    
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;   
}

@media screen and (max-width: 480px) {
    .page__section{
        max-width: 320px;
    }
}

@media screen and (max-width: 1100px) {
    .page__section{
        margin: 0;
        max-width: calc(100% - 40px);
}
}
