.page {
  background-color: #000;
  color: #fff;
  font-family: "Inter", Arial, serif;
}

.page__content {
  padding: 0 20px;
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page__section {
  max-width: 882px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 621px) {
  .page__content {
    padding: 0;
  }
}


