.profile {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 40px 0 51px;
}

.profile__image {
  width: 120px;
  height: 120px;
  margin: 0 30px 0 0;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
}

.profile__info {
  display: grid;
  grid-template-columns: minmax(auto, 373px) auto;
  grid-template-areas:
    "title button"
    "description description";
  grid-gap: 7px 18px;
  align-items: baseline;
}

.profile__title {
  grid-area: title;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  margin: 0;
  max-width: 373px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  grid-area: button;
  width: 24px;
  height: 24px;
  background: transparent url(../images/pencil.svg) center no-repeat;
  border: 1px solid white;
  transition: opacity 0.5s linear;
  padding: 0;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.5;
}

.profile__description {
  grid-area: description;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}

.profile__add-button {
  background: transparent url(../images/plus.svg) center no-repeat;
  height: 50px;
  width: 150px;
  margin-left: 165px;
  border: 2px solid white;
  border-radius: 2px;
  transition: opacity 0.5s linear;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.5;
}

@media screen and (max-width: 918px) {
  .profile__info {
    grid-template-columns: auto;
  }

  .profile__title {
    max-width: 340px;
    font-size: 32px;
    line-height: 38px;
  }

  .profile__image {
    margin: 0 10px 0 0;
  }
}


@media screen and (max-width: 320px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    padding-left: 62px;
    padding-right: 62px;
    justify-content: center;
    max-width: 282px;
  }

  .profile__description {
    width: 100%;
    text-align: center;
  }

  .profile__add-button {
    margin: 0;
    width: 282px;
  }
}

